[submodule "software/lib/FreeRTOS-Kernel"]
	path = software/lib/FreeRTOS-Kernel
	url = git@gitee.com:yichang-sibnuo/FreeRTOS-Kernel.git
[submodule "software/src/lvgl"]
	path = software/src/lvgl
	url = git@gitee.com:yichang-sibnuo/lvgl.git
	branch = release/v8.4
[submodule "software/include/RP2040-Encoder"]
	path = software/include/RP2040-Encoder
	url = git@gitee.com:yichang-sibnuo/RP2040-Encoder.git
	branch = main
