[submodule "software/lib/FreeRTOS-Kernel"]
	path = software/lib/FreeRTOS-Kernel
	url = https://gitee.com/embeddedboys/FreeRTOS-Kernel
[submodule "software/src/lvgl"]
	path = software/src/lvgl
	url = https://gitee.com/embeddedboys/lvgl
	branch = release/v8.3
